<a name="/what/{{what.slug}}"/>
<ol class="breadcrumb">
    <li><a href="/">Resume for {{resume_data.name}}</a></li>
    <li ng-if="where"><a href="/#where/{{where.slug}}">{{where.name}}</a></li>
    <li class="active">{{what.name}}</li>
</ol>
<div class="container">
    <div class="row">
        <h1>
            {{what.name}}
            <small ng-if="where"><br/>at <a href="/#where/{{where.slug}}">{{where.name}}</a></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4 what" ng-if="what.screenshots.length > 0">
            <carousel interval="2000">
                <slide ng-repeat="slide in what.screenshots">
                    <img ng-src="{{slide}}"/>
                </slide>
            </carousel>
        </div>
        <div class="col-md-8">
            <div>
                <h5>When</h5>

                <p class="dates badge" ng-if="what.start">{{what.start.display}}<span ng-if="what.end"> - </span>{{what.end.display}}
                </p>
            </div>
            <div ng-if="!what.about && what.summary">
                <h5>Summary</h5>

                <p class="about" ng-bind-html="what.summary"></p>
            </div>
            <div ng-if="what.about">
                <h5>About {{what.name}}</h5>

                <p class="about" ng-bind-html="what.about"></p>

                <div ng-if="what.role">
                    <h5>My Role</h5>

                    <p class="role" ng-bind-html="what.role"></p>
                </div>
            </div>
            <p class="clearfix"></p>
        </div>
    </div>
</div>
<footer class="how" ng-if="what.hows.length > 0">
    <h3 title="How">Skills Used</h3>

    <div>
        <a href="/#how/{{how.slug}}" class="badge badge-{{how.level}}" ng-repeat="how in what.hows">{{how.name}}</a>
    </div>
</footer>