<a name="/where/{{where.slug}}"/>
<ol class="breadcrumb">
    <li><a href="/">Resume for {{resume_data.name}}</a></li>
    <li class="active">{{where.name}}</li>
</ol>
<div class="container">
    <div class="jumbotron">
        <img src="{{where.logo}}" class="logo-thumb img-responsive img-thumbnail" ng-if="where.logo"/>

        <h2>{{where.name}}</h2>

        <p class="dates badge" ng-if="where.start">{{where.start.display}}<span ng-if="where.end"> - </span>{{where.end.display}}
        </p>

        <div ng-if="where.about">
            <h5>About {{where.name}}</h5>

            <p class="about" ng-bind-html="where.about"></p>
        </div>

        <p ng-if="where.website"><a href="{{where.website}}">{{where.website}}</a></p>

        <div ng-if="where.title">
            <h5>Title</h5>
            <p class="title">{{where.title}}</p>
        </div>

        <div ng-if="where.role">
            <h5>My Role</h5>
            <p class="role clearfix" ng-bind-html="where.role"></p>
        </div>
    </div>

    <div class="row">
        <div class="what" ng-if="where.whats.length > 0">
            <h3 title="What">Projects & Accomplishments</h3>

            <div class="list-group">
                <a href="/#what/{{what.slug}}" class="list-group-item thumbnail col-xs-12"
                   ng-repeat="what in where.whats | orderBy:'start.date':true">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="{{what.screenshots[0]}}" class="logo" ng-if="what.screenshots[0]">
                        </div>
                        <div class="caption clearfix col-xs-12 col-sm-8">
                            <h4 class="col-xs-12">{{what.name}}</h4>

                            <p class="dates badge" ng-if="what.start">{{what.start.display}}<span
                                    ng-if="what.end"> - </span>{{what.end.display}}
                            </p>

                            <p class="quick-summary" ng-if="what.summary" ng-bind-html="what.summary"></p>

                            <p class="quick-summary" ng-if="!what.summary" ng-bind-html="what.about"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-2 how" ng-if="hows.length > 0">
            <h3 title="How">Skills</h3>

            <div>
                <a href="/#how/{{how.slug}}" class="badge badge-{{how.level}}" ng-repeat="how in hows">{{how.name}}</a>
            </div>
        </div>

    </div>
</div>
<footer>
</footer>
